#tsparticles1 {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 2000px;
  height: 1000px;
}

#tsparticles {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 2000px;
  height: 1000px;
}
